src/main/mule/hybird-platform-deployment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2a8e3c0e-78eb-4112-8da4-e578d680e6b6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hybird-platform-deploymentFlow" doc:id="18671920-fb54-449b-a19f-323d9cc102c0" >
		<http:listener doc:name="Listener" doc:id="35f652be-06e0-454e-b45b-d9afaf0cb673" config-ref="HTTP_Listener_config" path="/hpd"/>
		<set-payload value='#["Hybrid Platform deployment successful"]' doc:name="Set Payload" doc:id="17b857d5-b6df-4d14-a491-2edf7ca16007" />
	</flow>
</mule>
